html {
    background: white;
  }
  
  * {
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; 
  }
  
  
  .profile-wrapper {
      display: table;
      height: 100%;
  }
  
  /*--- Left side ---*/
  
  .profile-left {
      display: table-cell;
      height: 100%;
      width: 60%;
      background-color: #666;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
  }
  
  
  .profile-right {
      display: table-cell;
      height: 100%;
      width: 40%;
    
  }
  

  .profile-header {
      color: white;
      line-height: 1.25;
      background: limegreen;
      padding: 8%;
      border-radius: 10px;
      height: 350px;
  }
  
  #profile-name {
      color: white;
      font-size: 60px;
      font-family: decoy;
      margin-bottom: 20px;
      line-height: 1;
  }
  
  #profile-firm {
      font-size: 30px;
      margin: 10px 0;
      font-family: router;
  }
  
  #profile-location {
      font-size: 22px;
      font-weight: 300;
      font-family: router;
  }
  
  /* Biography text */
  .profile-text {
      background: #333;
      padding: 15%;
      color: azure;
      border-radius: 10px;
  }
  
  
  @media screen and (max-width: 800px) {
      .profile-wrapper {
          display: flex;
          flex-flow: column wrap;
      }
  
      .profile-left {
          display: block;
          width: 100%;
          height: 50vh;
      }
  
      .profile-right {
          width: 100%;
          display: block;
      }
  }
